{% extends 'base.html.twig' %}

{% block body %}
    {% for concert in concerts %}
        <p><span class="bold">{{ concert.nom }}: </span>{{ concert.artista }}</p>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    <style>
        .bold{
        	font-weight: bold;
        }
    </style>
{% endblock %}
